@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#main-header{
    width: 70%;
    background-color: #ffe292;
    margin: auto;
    border: 1px solid #000;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: dm sans;
}


#logo{
    /* height:50px; */
    /* width: 50px; */
    color: rgb(170, 0, 0);
    font-weight: bold;
    
}


#navbar{
    width:50%;
    /* background-color:rgb(52, 170, 255); */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

#navbar a{
   text-decoration: none;
   /* color: brown; */
   color: rgb(1, 1, 1);
   font-weight: bold;
}

select{
    border:none;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: rgb(0, 140, 255); */
    font-family: dm sans;
    color: rgb(0, 65, 126);
}